<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>chinh.customer.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>chinh.customer.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusHomeController</servlet-name>
        <servlet-class>chinh.customer.CusHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>chinh.customer.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>chinh.customer.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>chinh.cart.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>chinh.cart.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>chinh.cart.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>chinh.cart.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>chinh.admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseController</servlet-name>
        <servlet-class>chinh.admin.UpdateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNav</servlet-name>
        <servlet-class>chinh.admin.UpdateNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCourseController</servlet-name>
        <servlet-class>chinh.admin.CreateNewCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdSearchController</servlet-name>
        <servlet-class>chinh.admin.AdSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstPageController</servlet-name>
        <servlet-class>chinh.customer.FirstPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>chinh.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderController</servlet-name>
        <servlet-class>chinh.customer.TrackOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderDetailController</servlet-name>
        <servlet-class>chinh.customer.TrackOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartNav</servlet-name>
        <servlet-class>chinh.cart.ViewCartNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutNav</servlet-name>
        <servlet-class>chinh.cart.CheckOutNav</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNav</servlet-name>
        <servlet-class>chinh.admin.CreateNav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusHomeController</servlet-name>
        <url-pattern>/cushome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseController</servlet-name>
        <url-pattern>/updatecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNav</servlet-name>
        <url-pattern>/updatenav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCourseController</servlet-name>
        <url-pattern>/createnewcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdSearchController</servlet-name>
        <url-pattern>/searchadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstPageController</servlet-name>
        <url-pattern>/firstpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderController</servlet-name>
        <url-pattern>/trackorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderDetailController</servlet-name>
        <url-pattern>/trackorderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartNav</servlet-name>
        <url-pattern>/viewcartnav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutNav</servlet-name>
        <url-pattern>/checkoutnav</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNav</servlet-name>
        <url-pattern>/createnav</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>firstpage</welcome-file>
    </welcome-file-list>
</web-app>
